<template>
    <header class='header'>
        <h1>Weathify</h1>
    </header>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style scoped>
.header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
}
</style>
