<template>
    <div>
        <h1>{{location.name}}, {{location.country}} </h1>
            <h1>{{currentWeather.temp_c}}&deg;c</h1>
            <img v-bind:src="currentWeather.condition.icon">
        <h1> {{currentWeather.condition.text}} </h1>
    </div>
</template>

<script>
export default {
  name: "TodayWeather",
  props: ["currentWeather", "location"]
};
</script>

<style scoped>
div {
  text-align: center;
}
</style>
