<template>
    <div>
        <h1>{{forecast.date}}</h1>
            <h1>{{forecast.day.avgtemp_c}}&deg;c</h1>
    </div>
</template>

<script>
export default {
  name: "DailyWeather",
  props: ["forecast"]
};
</script>

<style scoped>
div {
  /* border: 2px solid black; */
  border-top: 1px solid black;
  width: 20vw;
  display: inline-block;
  bottom: 0;
}
</style>
