<template>
    <form @submit="searchWeather">
        <input type="text" v-model="location" name="location">
        <input type="submit" value="Submit">
        <p v-if="error">{{this.error}}</p>
    </form>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import { API_KEY } from "../config/dev.env";
export default {
  name: "LocationInput",
  data() {
    return {
      location: ""
    };
  },
  methods: {
    searchWeather(e) {
      e.preventDefault();
      axios
        .get(
          `http://api.apixu.com/v1/forecast.json?key=${API_KEY}&q=${
            this.location
          }&days=5`
        )
        .then(res => this.$emit("search-weather", res.data))
        .catch(this.$emit("invalid-response"));
    }
  },
  props: ["error"]
};
</script>

<style scoped>
</style>
