<template>
    <svg />
</template>

<script>
/* eslint-disable */
import * as d3 from "d3";
export default {
  name: "UpcomingWeather",
  props: ["forecast"],
  methods: {
    drawChart(data) {
      d3.selectAll("svg > *").remove();
      var svgWidth = 600,
        svgHeight = 400;
      var margin = { top: 20, right: 20, bottom: 30, left: 50 };
      var width = svgWidth - margin.left - margin.right;
      var height = svgHeight - margin.top - margin.bottom;

      const svg = d3
        .select(this.$el)
        .attr("width", svgWidth)
        .attr("height", svgHeight);

      var g = svg
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var x = d3.scaleTime().rangeRound([0, width]);
      var y = d3.scaleLinear().rangeRound([height, 0]);

      var line = d3
        .line()
        .x(function(d) {
          return x(d.dateTime);
        })
        .y(function(d) {
          return y(d.temperature);
        });
      x.domain(
        d3.extent(data, function(d) {
          //   d3.timeParse("%d-%b-%y");
          //   console.log(d.dateTime);
          return d.dateTime;
        })
      );
      y.domain(
        d3.extent(data, function(d) {
          return d.temperature;
        })
      );
      g
        .append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x))
        .select(".domain")
        .remove();

      g
        .append("g")
        .call(d3.axisLeft(y))
        .append("text")
        .attr("fill", "#000")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", "0.71em")
        .attr("text-anchor", "end")
        .text("Temperature");

      g
        .append("path")
        .datum(data)
        .attr("fill", "none")
        .attr("stroke", "steelblue")
        .attr("stroke-linejoin", "round")
        .attr("stroke-linecap", "round")
        .attr("stroke-width", 1.5)
        .attr("d", line);
    }
  },
  mounted() {
    console.log("test");
    this.drawChart(this.forecast);
  },
  watch: {
    forecast: function(val, oldVal) {
      this.drawChart(val);
    }
  }
};
</script>

<style>
</style>
