<template>
    <div>
        <LocationInput v-on:search-weather='setWeather' v-on:invalid-response='handleInvalidResponse' v-bind:error='error'/>
        <CurrentWeather v-if='checkForSearchedWeather()' v-bind:currentWeather='currentWeather' v-bind:location='location' />
        <WeeklyWeather v-if='forecast.length > 0' v-bind:forecast='forecast' />
        <!-- <UpcomingWeather v-if='checkForSearchedWeather()' v-bind:forecast='forecast'  /> -->
    </div>
</template>

<script>
/* eslint-disable */
import LocationInput from "./LocationInput";
import CurrentWeather from "./CurrentWeather";
import WeeklyWeather from "./WeeklyWeather";
import UpcomingWeather from "./UpcomingWeather";
export default {
  name: "WeathifyContainer",
  components: {
    LocationInput,
    CurrentWeather,
    UpcomingWeather,
    WeeklyWeather
  },
  data() {
    return {
      currentWeather: {},
      forecast: [],
      location: {},
      error: null
    };
  },
  methods: {
    setWeather(weatherData) {
      console.log(weatherData);

      this.forecast = weatherData.forecast.forecastday;

      this.currentWeather = weatherData.current;

      this.location = weatherData.location;
      this.error = null;
    },
    checkForSearchedWeather() {
      return this.forecast.length > 0 ? true : false;
    },
    handleInvalidResponse() {
      this.currentWeather = {};
      this.forecast = [];
      this.location = {};
      this.error =
        "There was a problem, please ensure you are searching for a valid town or city";
    }
  }
};
</script>

<style scoped>
</style>
