<template>
<div>
        <DailyWeather v-bind:forecast="day"  v-bind:key='day.dateepoch'   v-for="day in forecast"/>
    </div>
</template>

<script>
import DailyWeather from "./DailyWeather";
export default {
  name: "WeeklyWeather",
  components: {
    DailyWeather
  },
  props: ["forecast"]
};
</script>

<style scoped>
</style>
