<template>

<div>
  <Header/>
    <WeathifyContainer />
    </div>
</template>

<script>
import Header from "./components/layout/Header";
import WeathifyContainer from "./components/WeathifyContainer";
export default {
  name: "app",
  components: {
    Header,
    WeathifyContainer
  }
};
</script>

<style>
body {
  margin: 0;
  font-family: "roboto", arial;
}
h1 {
  margin: 0;
}
</style>
